@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,800;1,200&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.App {
  background-color: #F6F6F6;
  font-family: 'Mulish';
  font-size: 16px;
  height: 100vh
}

.error{
  color: rgb(180,26,26);
  text-align: center;
  font-style: italic;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  
