.confirmHeader{
    font-weight: bold;
    font-size: 24px;
}
.confirmationContainer{
    width: 100%;
    padding: 20px;
}
.orderConfirm{
    font-size: 20px;
}
.productOrder{
    border: solid 2px #434C5E;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;    
}
.orderDetail{
    font-style: italic;
}
.message{
    color: rgb(180,26,26);
    font-weight: bold;
    font-size: 18px;
  }
.confirmQuestion{
    margin: 10px;
    font-weight: bold;
}
.details{
    background-color: rgba(112,218,255,.15);
    width: 350px;
    padding: 5px;
}

  @media screen and (max-width: 415px){
    .confirmationForm{

        border: solid 2px blue;
    }
  }
  @media screen and (min-width: 416px) and (max-width: 1100px){
    .confirmationForm{
        display: flex;
        flex-direction: row;
        border: solid 2px red;
    }
  }
  @media screen and (min-width: 1101px){
    .confirmationForm{
        display: flex;
        flex-direction: row;

    }
  }